.col-md-4 {
    padding-bottom: 30px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: darkslateblue;
    text-decoration: none;
}

.pagination>a {
    padding-left: 10px;
}
